body{
    background-color: black;
    font-family: Roboto;
}
p{
    color: white;
    text-indent: 2%;
}
h1 {
    text-align: center;
    color: white;
    padding: 3%%;
    font-family: Roboto;
}
h2{
    font-family: Georgia;
    color: white;
    text-align: center;
}
img {
    border-radius: 3%;
    height: 70%;
    width: 100%;
}
footer{
    color: white;
    text-align: last;
}
#rodape{
    text-align: center;
}
a{   
    color: blue;
}